<p id="notice"><%= notice %></p>

<h1>Listing Eventos</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Twitter</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @eventos.each do |evento| %>
      <tr>
        <td><%= evento.nome %></td>
        <td><%= evento.twitter %></td>
        <td><%= link_to 'Show', evento %></td>
        <td><%= link_to 'Edit', edit_evento_path(evento) %></td>
        <td><%= link_to 'Destroy', evento, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Evento', new_evento_path %>
<div class="row">
  <div class="col-md-3">
    <div class="row">
      <center><h4>Facebook Likes</h4></center>
    </div>
    <div id="facebook-likes" style="height: 250px;"></div>
  </div>
  <div class="col-md-3">
    <div class="row">
      <center><h4>Facebook Talks</h4></center>
    </div>
    <div id="facebook-talks" style="height: 250px;"></div>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <div class="row">
      <center><h4>Alexa</h4></center>
    </div>
    <div id="alexa" style="height: 250px;"></div>
  </div>
  <div class="col-md-3">
    <div class="row">
      <center><h4>Twitter</h4></center>
    </div>
    <div id="twitter" style="height: 250px;"></div>
  </div>
</div>

<div id="donut-example" style="height: 250px;"></div>

<script>
    new Morris.Donut({
        element: 'facebook-likes',
        data: [
            <% @medidas.each do |medida| %>
            { label: "<%= medida.evento.nome %>", value: '<%= medida.flikes %>' },
            <% end %>
        ]
    });
    new Morris.Donut({
        element: 'facebook-talks',
        data: [
            <% @medidas.each do |medida| %>
            { label: "<%= medida.evento.nome %>", value: '<%= medida.ftalk %>' },
            <% end %>
        ]
    });
    new Morris.Donut({
        element: 'twitter',
        data: [
            <% @medidas.each do |medida| %>
            { label: "<%= medida.evento.nome %>", value: '<%= medida.twitter %>' },
            <% end %>
        ]
    });
    new Morris.Donut({
        element: 'alexa',
        data: [
            <% @medidas.each do |medida| %>
            { label: "<%= medida.evento.nome %>", value: '<%= medida.alexa %>' },
            <% end %>
        ]
    });
</script>