
<div class="row">
    <div class="col-md-4 col-md-offset-4">
    <center><h1><%= @evento.nome %></h1>(<%= link_to 'Editar', edit_evento_path(@evento) %>)</center>
    </div>
</div>


<div class="row">
  <div class="col-md-6">
    <div class="row">
      <center><h4>Facebook Likes</h4></center>
    </div>
    <div id="facebook-likes" style="height: 250px;"></div>
  </div>
  <div class="col-md-6">
    <div class="row">
      <center><h4>Facebook Talks</h4></center>
    </div>
    <div id="facebook-talk-about" style="height: 250px;"></div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="row">
      <center><h4>Alexa</h4></center>
    </div>
    <div id="alexa" style="height: 250px;"></div>
  </div>
  <div class="col-md-6">
    <div class="row">
      <center><h4>Twitter</h4></center>
    </div>
    <div id="twitter" style="height: 250px;"></div>
  </div>
</div>


<script>
    new Morris.Line({
        // ID of the element in which to draw the chart.
        element: 'facebook-likes',
        // Chart data records -- each entry in this array corresponds to a point on
        // the chart.
        data: [
            <% @medidas.each do |medida| %>
            { date: '<%= medida.id %>', value: '<%= medida.flikes %>' },
            <% end %>
        ],
        // The name of the data record attribute that contains x-values.
        xkey: 'date',
        // A list of names of data record attributes that contain y-values.
        ykeys: ['value'],
        // Labels for the ykeys -- will be displayed when you hover over the
        // chart.
        labels: ['Facebook Likes']
    });
    new Morris.Line({
        element: 'facebook-talk-about',
        data: [
            <% @medidas.each do |medida| %>
            { y: '<%= medida.id %>', a: '<%= medida.ftalk %>' },
            <% end %>
        ],
        xkey: 'y',
        ykeys: ['a'],
        labels: ['Facebook Talks']
    });
    new Morris.Line({
        element: 'twitter',
        data: [
            <% @medidas.each do |medida| %>
            { y: '<%= medida.id %>', a: '<%= medida.twitter %>' },
            <% end %>
        ],
        xkey: 'y',
        ykeys: ['a'],
        labels: ['Twitter']
    });
    new Morris.Line({
        element: 'alexa',
        data: [
            <% @medidas.each do |medida| %>
            { y: '<%= medida.id %>', a: '<%= medida.alexa %>' },
            <% end %>
        ],
        xkey: 'y',
        ykeys: ['a'],
        labels: ['Alexa']
    });

</script>

